html {
    font-family: Avenir, sans-serif;
    text-align: center;
}

input {
    font-family: Avenir, sans-serif;
}

#content {
    position: relative;
    top: 0;
    left: 0;
}

#black-circle {
    background: #000000;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    left: 400px;
    z-index: 1;
}

#white-circle {
    background-color: #ffffff;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 180px;
    left: 550px;
    z-index: 2;
}

#message {
    height: 150px;
    width: 130px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(228, 102, 102);
    position: absolute;
    top: 240px;
    left: 560px;
    z-index: 3;
}

